@use "styles/global/colors" as *;
@use "styles/global/mixins.scss" as *;
@use "styles/global/variables.scss" as *;

.guarentee-section {
    &__title {
        &-wrap {
            display: flex;
            justify-content: center;
            padding: 5rem 0 3rem;
        }
    }
    &__cards-wrap {
        display: flex;
        justify-content: center;
        width: 100%;
        padding-bottom: 10rem;
    }
}
.guarantee-cards__item-icon {
    margin-bottom: 1rem;
}