@use "styles/global/colors" as *;
@use "styles/global/mixins.scss" as *;
@use "styles/global/variables.scss" as *;

.services-card {
  background-color: white;
  border-radius: 15px;
  max-width: 25rem;
  padding: 1.5rem 3rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  &__title {
    color: $navy-blue;
    font-size: 1.5rem;
    letter-spacing: 0.15rem;
    font-weight: 600;
    &-wrap {
      min-height: 2.5rem;
    }
  }
  &__description {
    color: $navy-blue;
    font-size: 1.1rem;
    line-height: 1.8rem;
    @include desktop {
      line-height: 2rem;
    }
  }
}
