@use "styles/global/colors.scss" as *;
@use "styles/global/mixins.scss" as *;
@use "styles/global/variables.scss" as *;

.projects-gallery {
  &__title {
    &-wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      @include side-padding-mobile;
      padding-top: 4rem;
      padding-bottom: 4rem;
      > * {
        font-size: 1.35rem;
        @include tablet {
          font-size: 2rem;
        }
      }
    }
  }
  &__gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
}
