@use "styles/global/colors.scss" as *;
@use "styles/global/mixins.scss" as *;
@use "styles/global/variables.scss" as *;

.projects-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    &-wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      @include side-padding-mobile;
      padding-top: 4rem;
      padding-bottom: 4rem;
      > * {
        font-size: 1.35rem;
        @include tablet {
          font-size: 2rem;
        }
      }
    }
  }
  &__gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-bottom: 8rem;
    @include tablet {
      display: grid;
      width: fit-content;
      grid-template-columns: repeat(4, minmax(0, 1fr));
      gap: 2rem;
    }
    @include desktop {
      gap: 2.5rem;
    }
  }
}
