@use "styles/global/colors.scss" as *;
@use "styles/global/mixins.scss" as *;
@use "styles/global/variables.scss" as *;

.company-stats {
    height: 100%;
    display: flex;
    justify-content: center;
    &__inner-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        @include side-padding-mobile;
        @include tablet {
            flex-direction: row;
            justify-content: space-around;
            @include side-padding-tablet;
        }
        @include desktop {
            max-width: $desktop;
            padding: 0;
        }
    }
    &__item-wrap {
        width: 100%;
        height: 10rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @include tablet {
            width: 15rem;
        }
    }
    &__count-up, &__description {
        color: $navy-blue;
        font-weight: 700;
    }
    &__count-up {
        font-size: 2.5rem;
    }
}