@use "styles/global/colors" as *;
@use "styles/global/mixins.scss" as *;
@use "styles/global/variables.scss" as *;

.footer-section {
    background-color: $primary-blue;
    color: $off-white;
    width: 100%;
    height: 100%;
    @include tablet {
        height: 20rem;
    }

    &__inner-wrap {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        @include side-padding-mobile;
        @include tablet {
            @include side-padding-tablet;
            flex-direction: row;
        }
        @include desktop {
            max-width: $desktop;
            padding: 0;
        }
    }

    &__services {
        &-list-item {
            list-style: none;
        }
    }
}