@use "styles/global/colors.scss" as *;

.burger-menu {
    background-color: white;
    display: flex;
    width: 100%;
    max-width: 425px;
    height: 100vh;
    position: absolute;
    right: 0;
    z-index: 150;
    flex-direction: column;
    align-items: flex-end;
    &__close {
        color: $primary-blue;
        position: relative;
        right: 1rem;
        top: 2rem;
    }
    &__list {
        width: 100%;
        height: 60%;
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    &__button {
        color: $primary-blue;
        font-size: 1.75rem;
        font-weight: bold;
    }
    &__divider {
        width: 70%;
        max-width: 17.5rem;
        height: 2px;
        background-color: $primary-blue;
    }
}