@use "styles/global/colors.scss" as *;
@use "styles/global/mixins.scss" as *;
@use "styles/global/variables.scss" as *;

.customers-section {
  display: flex;
  justify-content: center;
  &__inner-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 4rem 0;
    @include side-padding-mobile;
    @include tablet {
      padding: 0;
    }
    @include desktop {
      max-width: $desktop;
    }
  }
  &__title {
    font-size: 2rem;
    &-wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 4rem;
      text-align: center;
    }
  }
  &__subtitle {
    font-size: 1rem;
  }
  &__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2rem;
    padding: 4rem 0;
    @include tablet {
      display: grid;
      grid-template-columns: repeat(6, minmax(0, 1fr));
      @include side-padding-tablet;
      padding-top: 4rem;
      padding-bottom: 4rem;
    }
    @include desktop {
      padding: 4rem 0;
    }
  }
  &__logo {
    max-height: 100%;
    width: 100%;
    max-width: 15rem;
    &-wrap {
      background-color: $beige;
      border-radius: 15px;
      display: flex;
      width: 100%;
      max-width: 12.5rem;
      justify-content: center;
      align-items: center;
      aspect-ratio: 1;
      padding: 1.45rem;
      @include tablet {
        max-width: 100%;
      }
    }
  }
}
