@use "styles/global/colors.scss" as *;
@use "styles/global/mixins.scss" as *;
@use "styles/global/variables.scss" as *;

.customers-section {
  display: flex;
  justify-content: center;
  &__inner-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 4rem 0;
    @include side-padding-mobile;
    @include tablet {
      padding: 0;
    }
    @include desktop {
      max-width: $desktop;
    }
  }
  &__title {
    font-size: 2rem;
    &-wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 4rem;
      text-align: center;
    }
  }
  &__subtitle {
    font-size: 1rem;
  }
  &__flex {
    display: flex;
    width: 100%;
    padding: 1.5rem 0;
  }
  &__grid {
    @include tablet {
      display: grid;
      grid-template-columns: repeat(6, minmax(0, 1fr));
      @include side-padding-tablet;
      padding-top: 4rem;
      padding-bottom: 4rem;
    }
    @include desktop {
      padding: 4rem 0;
    }
    &-carousel {
      display: flex;
      &-viewport {
        overflow: hidden;
        width: 100%;
        &.is-draggable {
          cursor: move;
          cursor: grab;
        }
        .is-dragging {
          cursor: grabbing;
        }
        &-wrap {
          display: flex;
          width: 100%;
          padding-bottom: 3.5rem;
        }
      }
      &-button {
        background-color: transparent;
        cursor: pointer;
        touch-action: manipulation;
        border: 0;
        padding: 0;
        &:disabled {
          cursor: default;
          opacity: 0.5;
        }
        &-icon {
          fill: $navy-blue;
          width: 3rem;
          height: 3rem;
        }
      }
    }
  }
  &__logo {
    width: 7.5rem;
    object-fit: contain;
    &-wrap {
      background-color: $beige;
      border-radius: 15px;
      width: 100%;
      display: flex;
      aspect-ratio: 1;
      padding: 1.5rem;
      position: relative;
      margin: 0 1.25rem;
      @include tablet {
        max-width: 100%;
      }
    }
  }
}
