@use "styles/global/colors.scss" as *;
@use "styles/global/mixins.scss" as *;
@use "styles/global/variables.scss" as *;

.landing-section {
    background-color: rgba(4, 52, 84, 0.4);
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include side-padding-mobile;
    @include tablet {
        height: calc(100vh - 6.5rem);
        align-items: center;
        @include side-padding-tablet;
    }
    @include desktop {
        padding: 0;
    }
    &__inner-wrap{
        display: flex; 
        flex-direction: column;
        gap: 1rem;
        @include tablet {
            gap: 2.5rem;
        }
        @include desktop {
            width: 100%;
            max-width: $desktop;
        }
    }

    &__title {
        font-size: 2rem;
        color: white;
        @include tablet {
            font-size: 2.5rem;
            text-align: center;
        }
    }
    
    &__button {
        border: none;
        border-radius: 5px;
        color: white;
        cursor: pointer;
        padding: 0.5rem 0;
        width: 9rem;
        white-space: nowrap;
        font-size: 0.8rem;
        @include tablet {
            width: 12rem;
            padding: 0.75rem 0;
            font-size: 1.1rem;
        }
        &-wrap {
            display: flex;
            gap: 1rem;
            @include tablet {
                gap: 2rem;
                justify-content: center;
            }
            @include desktop {
                gap: 3rem;
            }
        }
        &--primary {
            background-color: $dark-blue;
        }
        &--sub {
            background-color: transparent;
            border: 3px solid white;
        }
    }
}