@use "styles/global/colors.scss" as *;
@use "styles/global/mixins.scss" as *;
@use "styles/global/variables.scss" as *;

.landing-section {
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include side-padding-mobile;
    @include tablet {
        height: calc(100vh - 7rem);
        align-items: center;
        @include side-padding-tablet;
    }
    @include desktop {
        padding: 0;
    }
    &__inner-wrap{
        display: flex; 
        flex-direction: column;
        gap: 1rem;
        @include tablet {
            gap: 2.5rem;
        }
        @include desktop {
            width: 100%;
            max-width: $desktop;
        }
    }

    &__title {
        font-size: 2rem;
        color: $primary-blue;
        @include tablet {
            font-size: 2.5rem;
            text-align: center;
        }
    }
    
    &__button {
        border-radius: 5px;
        cursor: pointer;
        padding: 0.5rem 0;
        width: 9rem;
        white-space: nowrap;
        font-size: 0.8rem;
        @include tablet {
            width: 12rem;
            padding: 0.75rem 0;
            font-size: 1.1rem;
        }
        &-wrap {
            display: flex;
            gap: 1rem;
            @include tablet {
                gap: 2rem;
                justify-content: center;
            }
            @include desktop {
                gap: 3rem;
            }
        }
        &--primary {
            background-color: $primary-blue;
            color: white;
            border: none;
        }
        &--sub {
            background-color: white;
            color: $primary-blue;
            border: 3px solid $primary-blue;
        }
    }
    &__left-overlay, &__right-overlay {
        &-wrap {            
            background-color: rgba(4, 52, 84, 0.4);
            position: absolute;
            width: 65%;
            height: 20rem;
            @include tablet {
                height: calc(100vh - 7rem);
            }
        }
    }
    &__left-overlay {
        &-wrap {
            clip-path: polygon(0 0, 100% 0, 43% 100%, 0% 100%);
            left: -50%;
            animation: slide-out-left 1s ease-in-out;
        }
    }
    &__right-overlay {
        &-wrap {
            clip-path: polygon(57% 0, 100% 0, 100% 100%, 0% 100%);
            right: -50%;
            animation: slide-out-right 1s ease-in-out;
        }
    }
}
@keyframes slide-out-left {
    0% {
        left: 0;
    }
    100% {
        left: -50%;
    }
}

@keyframes slide-out-right {
    0% {
        right: 0;
    }
    100% {
        right: -50%;
    }
}