@use "colors" as *;
@use "mixins" as *;
// only works on button tag
.blue-button {
  background-color: $navy-blue;
  border-radius: 0.75rem;
  border: none;
  color: $off-white;
  cursor: pointer;
  padding: 0.5rem 0;
  width: 9rem;
  white-space: nowrap;
  font-size: 1rem;
  @include tablet {
    width: 10rem;
    padding: 0.5rem 0;
  }
  transition: 0.25s;
  &:hover {
    background-color: $navy-blue--hovered;
  }
}
.red-button {
    background-color: $rust-red;
    border-radius: 0.75rem;
    border: none;
    color: $off-white;
    cursor: pointer;
    padding: 0.5rem 0;
    width: 9rem;
    white-space: nowrap;
    font-size: 1rem;
    @include tablet {
      width: 10rem;
      padding: 0.5rem 0;
    }
    transition: 0.25s;
    &:hover {
      background-color: $rust-red--hovered;
    }
}
