@use "styles/global/colors" as *;
@use "styles/global/mixins.scss" as *;
@use "styles/global/variables.scss" as *;

.testimonial-section {
  background-color: $beige;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 9rem 0 9rem;
  &__inner-wrap {
    width: 100%;
    @include side-padding-mobile;
    @include tablet {
      @include side-padding-tablet;
    }
    @include desktop {
      padding: 0;
      max-width: $desktop;
    }
  }
  &__title {
    color: $rust-red;
    &-wrap {
      width: 100%;
      height: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 3rem;
      letter-spacing: 0.25rem;
      @include desktop {
        height: 4.5rem;
        max-width: $desktop;
      }
    }
  }
  &__carousel-wrap {
    display: flex;
    width: 100%;
    @include side-padding-mobile;
    text-align: center;
  }
  &__viewport {
    overflow: hidden;
    width: 100%;
    &.is-draggable {
      cursor: move;
      cursor: grab;
    }
    .is-dragging {
      cursor: grabbing;
    }
  }
  &__carousel {
    display: flex;
  }
  &__slide {
    position: relative;
    min-width: 100%;
    @include tablet {
      padding: 0 2rem;
    }
    &-inner {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      @include tablet {
        justify-content: space-between;
      }
    }
    &__top-wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &-rating {
      width: 8rem;
      padding: 0.5rem 0;
      @include tablet {
      padding: 0.75rem 0;
        width: 10rem;
      }
    }
  }
  &__content-wrap,
  &__author-wrap {
    line-height: 1.8rem;
    @include tablet {
      padding: 0 2rem;
    }
    @include desktop {
      line-height: 2rem;
    }
  }
  &__content-wrap {
    font-size: 0.9rem;
  }
  &__author-wrap {
    padding-top: 1rem;
    font-size: 0.8rem;
  }
  &__button {
    background-color: transparent;
    cursor: pointer;
    touch-action: manipulation;
    border: 0;
    padding: 0;
    &:disabled {
      cursor: default;
      opacity: 0.5;
    }
    &__icon {
      fill: $navy-blue;
      width: 3rem;
      height: 3rem;
    }
  }
}
