@use "styles/global/colors" as *;
@use "styles/global/mixins.scss" as *;
@use "styles/global/variables.scss" as *;

.services-card {
  background-color: white;
  border-radius: 15px;
  max-width: 19rem;
  padding: 1.5rem 3rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__title {
    color: $navy-blue;
    font-size: 1.5rem;
    letter-spacing: 0.15rem;
    padding: 1rem 0;
    &-wrap {
      min-height: 6rem;
    }
  }
  &__description {
    font-size: 1rem;
    line-height: 1.8rem;
    padding-bottom: 2.25rem;
    @include desktop {
      line-height: 2rem;
    }
  }
}
