@use "styles/global/colors" as *;
@use "styles/global/mixins.scss" as *;
@use "styles/global/variables.scss" as *;

.services-card {
    border: 5px solid rgba(4, 52, 84, 0.4);
    box-shadow: rgba(4, 52, 84, 0.2) -5px 5px, rgba(4, 52, 84, 0.1) -10px 10px;
    aspect-ratio: 1;
    padding: 1rem;
    
    &__outter-wrap {
        width: 100%;
        max-width: 325px;
        margin: 0 auto;
    }

    &__front-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.25rem;
    }

    &__description {
        color: $dark-blue;
        font-size: 1.25rem;
        line-height: 1.5rem;
        font-weight: 600;
    }
}