@use "styles/global/colors" as *;
@use "styles/global/mixins.scss" as *;
@use "styles/global/variables.scss" as *;

.testimonial-section{
    @include side-padding-mobile;
    background-image: url("/svg-assets/testimonials_background.svg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet {
        @include side-padding-tablet;
    }
    @include desktop {
        padding: 0;
    }
    &__title {
        color: white;
        &-wrap {
            width: 100%;
            height: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            @include tablet {
                justify-content: flex-start;
            }
            @include desktop {
                height: 4.5rem;
                max-width: $desktop;
            }
        }
    }
    &__cards-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.25rem;
        margin: 2.375rem 0 3rem 0;
        width: 100%;
        @include tablet {
            display: flex;
            @include side-padding-tablet;
        }
        @include desktop {
            max-width: $desktop;
            padding: 0;
        }
    }

    &__button {
        background-color: white;
        color: $primary-blue;
        border-radius: 5px;
        padding: 0.5rem 0;
        margin-bottom: 6rem;
        width: 11rem;
        font-size: 0.8rem;
        font-weight: 600;
        display: flex;
        justify-content: center;
        cursor: pointer;
        @include tablet {
            width: 15rem;
            padding: 0.75rem 0;
            font-size: 1.1rem;
        }
        &-wrap {
            width: 100%;
            display: flex;
            @include side-padding-mobile;
            @include tablet {
                @include side-padding-tablet;
            }
            @include desktop {
                padding: 0;
                max-width: $desktop;
            }
        }
    }
}