@use "styles/global/colors.scss" as *;
@use "styles/global/mixins.scss" as *;
@use "styles/global/variables.scss" as *;

.customers-section {
    background-color: $off-white;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title {
        &-wrap {
            @include side-padding-mobile;
            width: 100%;
            height: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            @include tablet {
                @include side-padding-tablet;
                height: 3.5rem;
                justify-content: flex-start;
            }
            @include desktop {
                max-width: $desktop;
                padding: 0;
            }
        }
    }
    &__logos-wrap {
        @include side-padding-mobile;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        @include tablet {
            width: 100%;
            @include side-padding-tablet;
            height: 100%;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 1rem;
            row-gap: 1rem;
        }
        @include desktop {
            padding: 0;
            max-width: $desktop;
        }
    }
    &__logo {
        max-height: 3.5rem;
        filter: grayscale(100%);
        &-container {
            display: flex;
            align-self: center;
        }
    }
}