@use "styles/global/colors.scss" as *;
@use "styles/global/mixins.scss" as *;
@use "styles/global/variables.scss" as *;

.testimonials-page {
    position: relative;
    &__title {
        color: white;
        &-wrap {
            background-color: $grey;
            height: 8rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            @include tablet {
                height: 12rem;
            }
        }
    }
    &__subtext {
        color: white;
        text-align: center;
    }
}