@use "styles/global/colors" as *;
@use "styles/global/mixins.scss" as *;
@use "styles/global/variables.scss" as *;

.service-section {
    @include side-padding-mobile;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet {
        @include side-padding-tablet;
    }
    &__title {
        &-wrap {
            height: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    &__cards-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.25rem;
        margin: 1rem 0;
        width: 100%;
        @include tablet {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
            grid-gap: 1.25rem;
            flex-wrap: wrap;
        }
        @include desktop {
            max-width: $desktop;
            padding: 0;
        }
    }
}