@use "styles/global/colors" as *;
@use "styles/global/mixins.scss" as *;
@use "styles/global/variables.scss" as *;

.service-tab {
    background-color: $beige;
    box-shadow: none;
    width: 100%;
    &__summary, &__content{
        color:$grey;
    }
}

