@use "styles/global/colors.scss" as *;
@use "styles/global/mixins.scss" as *;
@use "styles/global/variables.scss" as *;

.project-card {
  display: flex;
  flex-direction: column;
  width: 15rem;
  height: 100%;
  cursor: pointer;
  &__content {
    &-wrap {
      width: 100%;
      height: 100%;
      background-color: $light-grey;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      padding: 0.5rem;
      gap: 0.5rem;
    }
    &-title,
    &-desc {
      color: $grey;
      font-size: 0.85rem;
      text-align: center;
    }
  }
  &__image {
    &-wrap {
      display: flex;
      width: 100%;
      position: relative;
    }
    &-overlay {
      background-color: $grey;
      width: 100%;
      height: 100%;
      position: absolute;
      &-plus {
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
      }
    }
  }
}
