@use "../../styles/global/colors.scss" as *;
@use "../../styles/global/mixins.scss" as *;

.page-nav {
  width: 100vw;
  display: flex;
  align-items: center;
  @include side-padding-mobile;
  @include tablet {
    @include side-padding-tablet;
  }
  &--small {
    justify-content: space-between;
    align-items: center;
    height: 3rem;
  }
  &__contact-bar {
    height: 2rem;
    display: flex;
    justify-content: flex-end;
    background-color: $dark-blue;
    @include side-padding-mobile;
    @include tablet {
      @include side-padding-tablet;
    }
    &__info-wrap {
      display: flex;
      align-items: center;
    }
  }
  &--large {
    justify-content: center;
    height: 3.5rem;
  }
  &__list {
    width: 80%;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }

  &__burger {
    color: $dark-blue;
    cursor: pointer;
    position: relative;
    right: -0.25rem;
  }
}
